<!DOCTYPE html>
<html lang="fr">
<head>
	<link rel="stylesheet" href="css/meteogaz.css" charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" charset="utf-8">
    <meta charset="utf-8">
    <title>Meteogaz</title>
</head>
<body>
    <div class="container-fluid">

      {{{body}}}

    </div>
    <!-- <script src="/public/js/jquery.js" charset="utf-8"></script> -->
    <script src="js/bootstrap.min.js" charset="utf-8"></script>
</body>
</html>